<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.michaelchen.compasslogger"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".FormActivity"
            android:label="@string/title_activity_form"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".EventMonitoringService"
            android:enabled="true"
            android:exported="false" />


        <!-- Refactored services and receivers -->
        <service
            android:name=".datarecorder.ScreenRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".datarecorder.PowerRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".datarecorder.GenericEventRecordingService"
            android:enabled="true"
            android:exported="false" />


        <service
            android:name=".datarecorder.LightSensorRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".datarecorder.ProximitySensorRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".datarecorder.RotationSensorRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".datarecorder.StepSensorRecordingService"
            android:enabled="true"
            android:exported="false" />


        <service
            android:name=".datarecorder.LocationRecordingService"
            android:exported="false"
            android:enabled="true"
            android:permission="android.p" />
    </application>

</manifest>