<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.icsi"
    android:installLocation="internalOnly"
    android:versionName="@string/app_version">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".sensormonitor.LoggerApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".sensormonitor.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".sensormonitor.receiver.PeriodicReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <receiver
            android:name=".sensormonitor.receiver.PeriodicGroundTruthReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity
            android:name=".sensormonitor.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <receiver
            android:name=".sensormonitor.receiver.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".sensormonitor.FormActivity"
            android:label="@string/title_activity_form"
            android:theme="@style/AppTheme.NoActionBar" />


        <!-- For the Deadline Notification -->
        <service
            android:name=".sensormonitor.periodicservices.deadline.DeadlineService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".sensormonitor.periodicservices.deadline.DeadlineActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- For the Daily Survey Notification -->
        <service
            android:name=".sensormonitor.periodicservices.dailysurveys.DailySurveyService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".sensormonitor.periodicservices.dailysurveys.DailySurveyActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".sensormonitor.periodicservices.dailysurveys.DailySurveyFormActivity"
            android:label="@string/title_activity_form"
            android:theme="@style/AppTheme.NoActionBar" />




        <!-- Refactored services and receivers -->
        <service
            android:name=".sensormonitor.periodicservices.datarecording.DeviceSpecsRecordingService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".sensormonitor.periodicservices.datarecording.ScreenRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.datarecording.PowerRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.datarecording.GenericEventRecordingService"
            android:enabled="true"
            android:exported="false" />


        <service
            android:name=".sensormonitor.periodicservices.datarecording.AccelerometerSensorRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.datarecording.GyroscopeSensorRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.datarecording.HumiditySensorRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.datarecording.LightSensorRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.datarecording.MagneticSensorRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.datarecording.PressureSensorRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.datarecording.ProximitySensorRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.datarecording.RotationVectorSensorRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.datarecording.StepSensorRecordingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.datarecording.TemperatureSensorRecordingService"
            android:enabled="true"
            android:exported="false" />


        <service
            android:name=".sensormonitor.periodicservices.datarecording.LocationRecordingService"
            android:exported="false"
            android:enabled="true"
            android:permission="android.p" />

        <service
            android:name=".sensormonitor.periodicservices.PeriodicTimeUpdateService"
            android:enabled="true"
            android:exported="false" />

        <!-- keep-alive services -->
        <service
            android:name=".sensormonitor.periodicservices.keepalive.GenericReceiverKeepAliveService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.keepalive.FirebaseKeepAliveService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensormonitor.periodicservices.keepalive.StepSensorKeepAliveService"
            android:enabled="true"
            android:exported="false" />

        <!-- Firebase sequential upload service -->
        <service
            android:name=".sensormonitor.utils.FirebaseSequentialUploadService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>